.custom-infowindow {
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco con transparencia */
    padding: 1px;
    font-family: Arial, sans-serif;
    box-shadow: none; /* Eliminar la sombra */
}
