.geofence-modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 230px;
    font-size: 0.875rem;
    /* text-sm */
}

.geofence-section {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    /* rounded-3xl */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.geofence-section-row {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.geofence-ubication {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.geofence-footer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
}

.geofence-extra-content {
    background-color: black;
    width: 3.5rem;
    /* w-14 */
    height: 2rem;
    /* h-8 */
    border-radius: 1rem;
    /* rounded-2xl */
}

.geofence-color-circle {
    background-color: black;
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geofence-color-box {
    width: 1.5rem;
    /* w-6 */
    height: 1.5rem;
    /* h-6 */
    padding: 0.25rem !important;
    border-radius: 9999px;
}

.geofence-button-edit {
    background-color: black;
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.geofence-button-close {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}